<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Love Places.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8894B94D1C8744FE00625DAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8894B9691C8744FE00625DAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8894B9741C8744FE00625DAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
